.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin: 32px 0;
  display: flex;
  justify-content: center;
}

.image_container {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  padding: 0 12px;
}

.pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
  position: relative;
}

.card {
  width: 23%;
  margin: 16px 0;
}

.card_text {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: flex-end;
  display: flex;
  color: #fff;
  opacity: 0;
  font-size: 22px;
  font-weight: 600;
  padding: 16px;
  transition: all ease 500ms;
}

.card_text:hover {
  opacity: 1;
}

.card_text:active {
  opacity: 1;
}

@media (max-width: 991px) {
  .image_container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media (max-width: 480px) {
  .image_container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
