.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin: 32px 0;
  display: flex;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  color: #90a3c4;
}

.image_container {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  padding: 12px;
}

.pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
  position: relative;
}

.pics:hover {
  margin: 28px;
}

.card_text {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: flex-end;
  display: flex;
  color: #fff;
  opacity: 0;
  font-size: 1.2em;
  font-weight: 600;
  padding: 16px;
  transition: all ease 500ms;
}

.card_text:hover {
  opacity: 1;
}

.card_text:active {
  opacity: 1;
}

.video_styles {
  object-fit: cover;
  filter: contrast(2);
}

.video_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.upper_fader {
  height: 20vh;
  background-image: linear-gradient(white, black);
}

.lower_fader {
  height: 20vh;
  background-image: linear-gradient(black, white);
}

@media (max-width: 991px) {
  .image_container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media (max-width: 480px) {
  .image_container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .card_text {
    font-size: 8px;
  }
}
